IGP_USER=your_igpsport_email
IGP_PASS=your_igpsport_password
INTERVALS_API_KEY=your_intervals_api_key

STEP_LIST_ACTIVITIES=true
STEP_GET_DOWNLOAD_URL=true
STEP_DOWNLOAD_FIT=true
STEP_UPLOAD_INTERVALS=true

MAX_ACTIVITIES=5